.card {
  text-align: center;
  margin: 1%;
  padding: 1%;
  background-color: #ffd1d1;
}

#header {
  background-image: url(../img/pizza.png);
  text-shadow: 1px 1px white;
}

.topping-details {
  display: none;
}

#toppings-select p {
  font-weight: bold;
}

#toppings-select {
  display: none;
}

/* #review-pizza {
  display: none;
} */

#cart {
  display: none;
}

.topping {
  text-align: left;
}

h3 {
  text-decoration: underline;
}
